/*
        PRP Project
        Copyright (C) 2020  The PRP Project

        This program is free software: you can redistribute it and/or modify
        it under the terms of the GNU General Public License as published by
        the Free Software Foundation, either version 3 of the License, or
        (at your option) any later version.

        This program is distributed in the hope that it will be useful,
        but WITHOUT ANY WARRANTY; without even the implied warranty of
        MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
        GNU General Public License for more details.

        You should have received a copy of the GNU General Public License
        along with this program.  If not, see <https://www.gnu.org/licenses/>.

*/

@import "../../../scss/styles";

/******************************
 Task Plugin SCSS
 *****************************/

.marked-as-done {
  text-decoration: line-through;
}

.primary-color {
  background-color: $primary-color;
  color: white;
}

.btn-primary {
  background-color: $primary-color;
}

.checkbox-2x {
  transform: scale(2);
  webkit-transform: scale(2);
  color: $primary-color;
}

.subtasks-done::before {
  content: "(";
}

.subtasks-done::after {
  content: "/";
}

.subtasks-total::after {
  content: ")";
}

.delete-task-list-button {
  color: white;
}

.collapse-list-button {
  color: white;
}

.taskListHeader {
  background-color: $primary-color;
  color: #fff;
  margin-top: 10px;
  border: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  outline: none;

  .taskListTitle {
    font-weight: bold;
    transform: translateY(5px);
  }
}

/******************************
 task-detail-page SCSS
 *****************************/

#task-detail-page {

  .task-detail-form {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: left;

    .detail-page-title-div {
      text-align: center;
      margin-bottom: 15px;
    }

    input, select, textarea {
      margin-bottom: 15px;
    }

    label {
      float: left;
    }

    #detail-page-task-done {
      float: left;
      max-width: 40px;
    }

    #detail-page-title {
      display: inline;
    }

    #detail-page-save-task-button {
      float: right;
    }

    #detail-page-delete-task-button {
      float: left;
    }

    #detail-page-error-text-task-end-date {
      margin-bottom: 15px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  text-align: left;

  label {
    float: left;
  }
}

/******************************
 Add Button SCSS
 *****************************/

.add-btn {
  position: fixed;
  height: 60px;
  width: 60px;
  outline: none;
  border: none;
  border-radius: 50%;
  bottom: 25px;
  right: 25px;
  background-color: #eee;
  transition: .3s;

  &:active {
    background-color: #ddd;
  }
}

.add-menu {
  position: fixed;
  bottom: 10px;
  right: 25px;
  text-align: right;
  list-style-type: none;
  opacity: 0;
  visibility: hidden;
  transition: .5s;
  z-index: 9999;

  li {
    &:first-child {
      margin-bottom: 35px;
    }

    input, select, textarea {
      margin-bottom: 15px;
    }

    div {
      display: inline-flex;
      text-align: center;
      padding: 8px;
      text-decoration: none;
      border-bottom: 2px solid $primary-color;
      color: #fff;
    }

    i, svg {
      color: #17a2b9;
      transform: translate(-5px, 1px)
    }

    #error-text-task-end-date {
      margin-bottom: 15px;

      .add-menu-btn {
        .add-menu-btn-text {
          transform: translate(2px, -2px);
        }
      }
    }
  }
}

.add-menu-active {
  opacity: 1;
  visibility: visible;
  transform: translateY(-100px);
}

.modal-content {
  z-index: 9998;
}

.btn-primary {
  background-color: $primary-color;
}

/******************************
 Modal Template Styling
 *****************************/

#modal-div-template {

  label {
    margin-bottom: 0;
  }

  #modal-div {
    background-color: #616161;
    padding: 15px;

    #close-button {
      color: #fff;
      opacity: 1;
      float: left;
    }

    #modal-title {
      color: #ffffff;
      display: inline-block;
      margin-left: 0.5em;
    }

    #modal-button {
      float: right;
      border: none;
    }
  }
}

.error-label {
  color: #FF0000;
}

.error-input {
  border-color: #FF0000;
}
