<!--PRP Project
Copyright (C) 2020  The PRP Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <https://www.gnu.org/licenses/>. -->


<script async src="plugins/tasks/scripts.js" type="text/javascript"></script>
<link href="plugins/tasks/styles.css" rel="stylesheet" type="text/css">


<div id="task-plugin-div">

</div>

<!-- Template for a form to display a task's details -->
<template id="detail-page-task-form-template">
    <div class="d-flex justify-content-center" id="task-detail-page">
        <form class="task-detail-form" name="detailPageCreateTaskForm">
            <span data-taskId="" id="detail-page-task-id-span"></span>
            <div class="detail-page-title-div">
                <h3 id="detail-page-title"></h3>
                <button class="btn btn-primary" id="detail-page-save-task-button"></button>
            </div>
            <div class="input-group">
                <input class="form-control input-md" id="detail-page-task-done" type="checkbox">
                <input class="form-control input-md" id="detail-page-task-title" type="text">
            </div>

            <label for="detail-page-task-start-date"></label>
            <input class="form-control input-md" id="detail-page-task-start-date" onchange="" type="datetime-local">

            <label for="detail-page-selected-task-duration"></label>
            <select class="form-control input-md" id="detail-page-selected-task-duration"></select>

            <label for="detail-page-task-end-date"></label>
            <input class="form-control input-md" id="detail-page-task-end-date" onchange="" type="datetime-local">
            <label class="error-label" hidden=true id="detail-page-error-text-task-end-date"></label>

            <label for="detail-page-selected-task-list"></label>
            <select class="form-control input-md" id="detail-page-selected-task-list"></select>

            <label for="detail-page-task-description"></label>
            <textarea class="form-control input-md" id="detail-page-task-description" rows="3"></textarea>

            <button class="btn btn-secondary" id="detail-page-delete-task-button"></button>
        </form>
    </div>
</template>
